html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kosugi Maru", sans-serif;
}

.image-container {
    position: relative;
    width: 100vw; /* ビューポートの幅いっぱいに */
    height: 100vh; /* ビューポートの高さいっぱいに */
    overflow: hidden; /* 画像がはみ出ないようにするために必要 */
}

.image-container img {
    width: 100%; /* 画像をコンテナの幅いっぱいに広げる */
    height: 100%; /* 画像をコンテナの高さいっぱいに広げる */
    object-fit: cover; /* 画像を切り取らずにコンテナにフィットさせる */
    object-position: 12% center;
}

.text-overlay {
    position: absolute;
    top: 6%;
    left: 6%;
    color: white;
    width: 20rem;
}

.title {
    text-align: left;
    padding-bottom: 0;
    margin-top: 5%;
    margin-bottom: 7%;
}

.list-container {
    text-align: left;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.list-item {
    color: white;
    margin: 0;
    padding-bottom: 5px;
}

.list-item a {
    color: white;
    text-decoration: none;
}

.list-item a:hover {
    color: #E9BD8E;
}

h1 {
    font-size: clamp(2rem, calc(7.5vw + 1.5rem), 4rem);
}

a {
    font-size: clamp(1.8rem, 2vw, 3.5rem);
}

@media (max-width: 576px) {
    .image-container img {
        background-size: cover; /* 画像をカバーする */
        background-position: center top; /* 画像の上部中央を表示 */
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .text-overlay {
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }

    .list-item {
        font-size: 1.5rem;
        text-align: center;
    }
}