body {
  margin: 0;
  padding: 0;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  display: none;
}

.sidebar-mini {
  display: none;
}

/* サイドバー */
.sidebar-container {
  position: fixed; /* サイドバーを固定 */
  left: 0; /* 左端に配置 */
  top: 0; /* 上端に配置 */
  width: 30%; /* サイドバーの幅 */
  height: 100%; /* 画面の高さいっぱいに */
  background-color: #dbe2f4; /* 背景色を指定 */
  padding: 6.5vw; /* 内側の余白を指定 */
  box-sizing: border-box; /* ボックスサイズを指定 */
  margin: 0 auto;
}

.sidebar {
  padding-top: 17%;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
}

.sidebar-title {
  border-bottom: 2px solid #507dab;
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 7%;
}

.sidebar-title a {
  font-size: 2.3rem;
  color: #3e6a99;
  text-decoration: none;
  text-align: left;
}

.sidebar-list {
  padding: 0;
  margin-left: 0;
}

.list-item {
  margin-bottom: 15px;
  list-style-type: none;
  text-align: left;
}

.list-item a {
  font-size: 2rem;
  color: #3e6a99;
  text-decoration: none;
}

.list-item a:hover {
  color: #E9BD8E;
}

/* メイン */
.main-container {
  height: 100vh;
  margin-left: 30%;
  box-sizing: border-box; /* ボックスサイズを指定 */
  background-color: #f0f2fa;
  flex: 1;
}

.main {
  padding: 120px 70px;
  color: #3e6a99;
}

.main-title {
  padding-bottom: 25px;
  margin: 0;
}

p {
  line-height: 1.5;
}

ul {
  padding-left: 0;
}

.instagram {
  color:#76a5c5 ;
  text-decoration: none;
}

.instagram:hover {
  color: #E9BD8E;
  text-decoration: underline;
}

.mind-meister {
  color:#76a5c5 ;
  text-decoration: none;
}

.mind-meister:hover {
  color: #E9BD8E;
  text-decoration: underline;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}